name: Build and Release

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Install Linux dependencies
        run: sudo apt-get install -y libwebp-dev

      - name: Install buildifier
        run: make install-buildifier

      - name: Run buildifier
        run: buildifier -d -r ./

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3

  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Install Linux dependencies
      run: sudo apt-get install -y libwebp-dev

    - name: Build
      run: make build

    - name: Test
      run: make test

  create-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: build-and-test
    if: startsWith(github.ref, 'refs/tags/')

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Install Linux dependencies
      run: sudo apt-get install -y libwebp-dev

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v3
      with:
        version: latest
        args: release
      env:
        GITHUB_TOKEN: ${{ secrets.TIDBYT_GITHUB_TOKEN }}
