name: Build and Test

on:
  pull_request:
    branches:
      - "*"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Setup build agent
        run: ./.github/scripts/setup.sh

      - name: Determine targets
        run: |
          echo ${GITHUB_BASE_REF}
          OLD_COMMIT=`git rev-list ${GITHUB_BASE_REF}..${GITHUB_HEAD_REF} --reverse | head -n 1`
          NEW_COMMIT=${GITHUB_SHA}
          echo ${OLD_COMMIT}
          echo ${NEW_COMMIT}
          pixlet community target-determinator --old ${GITHUB_BASE_REF} --new ${GITHUB_HEAD_REF}

      - name: Check all apps
        run: pixlet check -r ./

      - name: Sanity check go embed
        run: go test tidbyt.dev/community/apps
